#queries label, #prefixes label {
  /*display: inline;*/
}

a.inline-control {
  display: inline !important;
  margin-left: 1px !important;
  padding-left: 0 !important;
}

.sparql textarea {
  font-family: Inconsolata, Courier-new, Courier, monospace;
  font-size: 10pt;*/
  line-height: 1.2;*/
  min-height: 250px !important;
  resize: vertical;
}

#results {
  overflow: auto;
}

#results .results-plain {
  background-color: white;
}

#query-edit-cm {
  background-color: white;
  padding: 0;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
}


pre.errorText {
  color: #d02020;
}

/* --------------------- new ------------------ */

.qonsole h2, .query-chrome label {
  font-size: 10px;
  color: #666666;
  margin: 0;
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
}

.qonsole .well {
  padding: 5px;
}

.qonsole h2+ul {
  display: inline-block;
}

.navbar h1.brand, .navbar h2.brand {
  line-height: 12px;
}

.navbar h1.brand {
  font-weight: bold;
  font-size: 16pt;
  display: inline-block;
}

h2.brand {
  display: inline-block;
  font-size: 14pt;
}

.query-chrome {
  margin-top: 1em;
}

.timeTaken {
  font-style: italic;
  text-transform: none;
  color: #666;
}

pre.results-plain {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
